name: "CI/CD"

on:
  push:
    branches: [development]
  pull_request:
    branches: [main, development]

jobs:
  test_then_build:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    env:
      DATABASE_URL: postgres://postgres:postgres@localhost:5432/tada_app
    steps:
      - name: Check-out code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Install dependencies
        run: "npm ci"

      - name: Generate Prisma Client
        run: "npx prisma migrate deploy"

      - name: Run unit tests
        run: "npm run test:ci"

      - name: "Build"
        run: "npm run build"